body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.pos-relative {
    position: relative;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem !important;
    letter-spacing: 3px;
    font-weight: 600 !important;
    text-transform: uppercase;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem !important;
    letter-spacing: 1px;
    font-weight: 500 !important;
    text-transform: uppercase;
}
.font-montserrat {
    font-family: 'Montserrat', serif;
}
.font-cormorant {
    font-family: 'Cormorant', serif;
}
/* header part */
.text-lightpink {
    color: #e2c0cd;
}
.text-purple {
    color: #571845;
}
.font-uppercase {
    text-transform: uppercase;
}
#header {
    background-color: #571845;
}
.paT-80 {
    padding-top: 80px;
}
.paB-80 {
    padding-bottom: 80px;
}
#header nav {
    margin: 0 auto; 
}
.nav-height {
    min-height: 90px;
}
#basic-navbar-nav .custom-navbar .nav-item a.nav-link , .programs-item  {
    color: white !important;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: transparent;
}
#basic-navbar-nav .custom-navbar .nav-item a.nav-link:focus , .programs-item:focus {
    outline: 0px;
} 
.programs-item {
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}
.programs-item:hover {
    background-color: transparent;
}
.custom-user-circle span , span.custom-language span {
    color: white;
    font-weight: 600;
    padding-left: 8px;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;    
}
span.custom-user-circle, span.custom-Search, span.custom-language {
   font-size: 18px;
}
.vendors-item, .photos-item, .wedding-item, .blogs-item, .programs-item {
    position: static !important;
}
.vendors-content ul li , .photos-content  ul li , .wedding-content ul li , .blogs-content ul li {
    text-decoration: none;
    list-style: none;
    font-size: 13px;
    margin: 5px 2px;
    letter-spacing: 0.6px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.vendors-content ul , .photos-content ul , .wedding-content ul , .blogs-content ul {
    padding: 0px;
}
.vendors-content .dropdown-item , .photos-content .dropdown-item , .wedding-content .dropdown-item , .blogs-content .dropdown-item {
    white-space: normal!important;
    padding: .25rem 0rem;
}
.vendors-item .dropdown-menu ,  .photos-item .dropdown-menu,  .wedding-item .dropdown-menu , .blogs-item .dropdown-menu  {
    padding: 24px;
}
#basic-navbar-nav .dropdown-menu {
    max-height: 60vh;
    overflow-x: hidden;
}
@media (min-width: 1280px) {
    #header nav {
        max-width: 92vw;
        margin: 0 auto;
    }      
}
@media (min-width: 992px)  and (max-width: 1279px) {
    #header nav {
        width: auto;
    }
    #basic-navbar-nav .custom-navbar .nav-item a.nav-link , .programs-item  {
        color: white !important;
        font-weight: 500;
        padding-left: 10px;
        padding-right: 10px;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
    }      
    .custom-user-circle span , span.custom-language span {
        display: none;   
    }        
}
@media (min-width: 992px) {
    .vendors-item .dropdown-menu, .photos-item .dropdown-menu, .wedding-item .dropdown-menu,.blogs-item .dropdown-menu, .programs-item .dropdown-menu {
        position: absolute !important;
        max-width: 800px !important;
        margin: 0 auto !important;
        top: 105px !important;
        left: 0 !important;
        right: 0 !important;
        border-radius: 0px !important;
        transition: top .15s ease-out;
    } 
    .wrap {
        max-width: 93vw;
        width: 90vw;
        margin: 0 auto;
    }  
}
@media (max-width: 991px) {
    .custom-items-align {
        color: white;
        position: relative;
        text-align: center;
        padding: 100px 15px;
    }
    .second-section-vendor-card {
        min-height: 350px;
    }
}
/* header part end */

/*Home page */
.heroimg {
    background-image: url(/img/hero-home.png);
    height: 70vh;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    background-position: 50% 50%;
}
.home-dropdown select {
    height: 50px;
    border-radius: 0px;
    color: #571845;
    font-size: 14px;
}
.btn-home {
    height: 50px !important;
    background-color: #571845 !important;
    border: 0px !important;
    border-radius: 0px !important;
    width: 180px;
}

.font-cormorant {
    font-size: 20px;
}
.second-section-vendor-card {
    object-fit: cover;
    background-repeat: no-repeat;
    object-position: center;
    border: 0px;
    object-position: center;
    background-size: cover;
}
.wedding-venues {
    background-image: url(/img/wedding-venues.png);
}
.wedding-photography {
    background-image: url(/img/weddingPhotography.png);
}
.bridal-makeup {
    background-image: url(/img/BridalMakeupPhoto.png);
}
.wedding-decorators {
    background-image: url(/img/weddingDecorators.png);
}
.bridal-wear {
    background-image: url(/img/BridalWear.png);
}
.wedding-cards {
    background-image: url(/img/WeddingCards.png);
}
.vendor a.btn {
    left: 0;
    position: absolute;
    background: white;
    bottom: 26px;
    border: 0;
    border-radius: 0;
    padding: 25px 60px;
    width: 250px;
    box-shadow: 6px 0px 11px rgba(88,88,88,0.3);
    font-family: 'Cormorant', serif;
    color: #571845;
}
.vendor a.btn:hover {
    box-shadow: 6px 0px 11px rgba(88,88,88,0.7);
}
.vendor .card {
    border: 0px;
    border-radius: 0px;
}
.vendor .card:hover {
    box-shadow: 6px 0px 11px rgba(88,88,88,0.3);
    cursor: pointer;

}
.browseAllVendors {
    background-color: #571845 !important;
    color: white !important;
    padding: 18px 30px !important;
    border-radius: 0px !important;
}
.browseAllVendors:hover {
    box-shadow: 6px 0px 11px rgba(88,88,88,0.3);
    color: #571845;
    background-color: #C68DA2;
}
.hireServices .card {
    border: 0px;
    border-radius: 0px;
    min-height: 500px;
}
.hireServices .card-body {
    display: flex;
    align-self: flex-end;
    margin: 0 auto;
}
.hireServices .card-body .btn , .grid-bg.custom-grid-size a, .real-wedding-section2 .overlay-card-inner a{
    border: 0;
    background: white;
    border-radius: 0;
    padding: 27px 40px;
    max-width: 270px;
    align-self: flex-end;
    font-family: 'Cormorant', serif;
    text-align: center;
    margin: 0 auto;
    color: #571845;
    font-size: 17px;
    letter-spacing: 0.4px;
    font-weight: 500;
    min-width: 200px;
}
.grid-bg , .bg-lightPink {
    background-color: #e2c0cd;
}
.VOVBS {
    background-color: #900C3E;
}
.VOVBS .card {
    max-width: 350px;
    min-height: 350px;
    border-radius: 0px;
    margin: 0 auto;
}
.VOVBS .card img {
    width: 60px;
    align-self: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.VOVBS h3 {
    color: #571845;
    font-size: 22px !important;
    font-weight: 600 !important;
}
.cardIconFix {
    display: flex;
    justify-content: center;
    min-height: 150px;
} 
.follow-us a {
    padding-left: 5px;
    padding-right: 5px;
    color: #571845;
    font-size: 25px;
}
.follow-us span {
    color: #571845;

}
.GWOUS img {
    max-width: 400px;
}
.GWOUS .btn-home  {
    background-color: white !important;
    color: #571845;
    font-family: 'Cormorant', serif;
    max-width: 180px;
}
.GWOUS .btn-home:hover {
    background-color: white !important;
    color: #571845;
    font-family: 'Cormorant', serif;
    box-shadow: 1px 8px 10px rgba(0,0,0,0.1);
}
.Section7 .custom-input {
    height: 48px;
    border-radius: 0px;
    border: 0px;
    font-size: 13px;
    padding: 5px 25px;
}
.GWOUS .custom-input {
    height: 50px;
    border-radius: 0px;
    border: 0px;
    font-size: 13px;
    padding: 5px 25px;
    background-color: transparent;
    border-bottom: 1px solid white;

}
.GWOUS .custom-input.form-control::placeholder {
    color: #571845;
    font-family: 'Cormorant', serif;
    font-size: 18px;
}
.GWOUS .custom-input.form-control:focus {
    background-color: transparent;
    outline: 0px;
    box-shadow: none;
    border-color: #571845;
}
.bg-light-GWOUS {
    background-color: #ffd8cf;
}
.bg-dark-GWOUS {
    background-color: #f7b4a4;
}

@media (min-width: 992px) {
    .custom-items-align {
        color: white;
        position: relative;
        text-align: center;
    }
    h1.home-title {
        font-size: 56px;
    }
    .second-section-vendor-card {
        min-height: 290px;
    }
    .ImageMoreHeight {
        height: 550px !important;
        object-fit: cover;
        width: 100%;
        object-position: center;
    }
    .ImageLessHeight {
        height: 250px !important;
        object-fit: cover;
        width: 100%;
        object-position: center;
    }
    .custom-grid-size {
        /* margin-left: 15px;
        margin-right: 15px;
        padding-left: 0px;
        padding-right: 0px; */
    }
    .Grid {
        padding-left: 15px;
        padding-right: 15px;       
    }
    .custom-grid-size > .row > .col-lg-4:nth-child(1) {
        padding-left: 15px;
        padding-right: 6px;
    }
    .custom-grid-size > .row > .col-lg-4:nth-child(2) {
        padding-left: 6px;
        padding-right: 6px;
    }   
    .custom-grid-size > .row > .col-lg-4:nth-child(3) {
        padding-left: 6px;
        padding-right: 15px;
    }
    .custom-grid-size > .row > .col-lg-8 {
        padding-left: 15px;
        padding-right: 6px;
    }
    .custom-grid-size > .row > .col-lg-4 {
        padding-left: 6px;
        padding-right: 15px;
    }   
    .VOVBS {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .hide-on-desktop {
        display: none !important;
    }
}
@media(max-width: 991px) {
    .hide-on-mb {
        display: none !important;
    }
}
/*Footer*/
.bg-dark-purple {
    background-color: #571845;
}
.bg-dark-purple ul li {
    list-style: none;
    margin: 15px 15px;
    text-transform: uppercase;
}
.bg-dark-purple ul li a {
    font-weight: 500;
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', serif;
    letter-spacing: 1px;
}
.bg-dark-purple ul li a span{
    font-size: 17px;
    padding-right: 10px;
}
.bg-dark-purple ul li a:hover {
    color: #e2c0cd;
    text-decoration: none;
}
.bg-dark-purple  ul {
    padding-left: 0px;
}
#footer {
    padding-top: 80px;
    padding-bottom: 80px;
}
@media(min-width: 1400px) {
    #footer > .row {
        max-width: 90vw;
        margin: 0 auto;
    }
}
@media(max-width: 1199px) {
    #footer > .row ul li {
        text-align: center;
    }
    #footer > .row ul li .col-sm-12 {
        display: flex;
        justify-content: center;
    } 
    #footer.bg-dark-purple ul {
        margin-bottom: 0px;
    }  
}
.instagram {
    display: flex;
    flex-direction: row;
}
.instagram  img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border: 1px solid white;
}
.instagram  img:hover {
    border-color: #e2c0cd;
    background-color: black;
    opacity: 0.7;
}
/*Bottom Footer*/
#bottom-footer {
    background-color: #451337;
}
#bottom-footer  .row {
    margin: 0 auto;
    color: white;
    font-family: 'Cormorant', serif;
    font-size: 17px;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#bottom-footer .social-media span{
    padding-left: 3px;
    padding-right: 3px;
}
#bottom-footer .social-media span:hover{
    color: #e2c0cd;
}
@media ( min-width: 992px ) {
    #bottom-footer .social-media {
        display: flex;
        justify-content: flex-end;
    }
}
@media ( max-width: 991px ) {
    #bottom-footer .col-sm-6 {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }
    #bottom-footer .social-media.col-sm-6 {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }
} 


@media(min-width: 1400px) {
    #bottom-footer  .row {
        margin: 0 auto;
        max-width: 90vw;
    }
}
/* Venue Booking Services  */
.vbs-heroimg {
    background-image: url(/img/vbs.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    background-position: 50% 50%;
}
@media (min-width: 1200px) {
    .HIW .card-columns {
        column-count: 4 !important;
        column-gap: 3rem;
    }
}
@media (max-width: 1199px) and (min-width:992px) {
    .HIW .card-columns {
        column-count: 2 !important;
        column-gap: 3rem;
    }
}
@media (max-width: 991px){
    .HIW .card-columns {
        column-count: 1 !important;
    }
}
.HIW .card {
    background-color: #e2c0cd;
    border: 0px;
    border-radius: 0px;
}
.HIW .HIW-icons {
    font-size: 45px;
    padding-top: 38px;
    padding-bottom: 25px;
    color: #571845;
    /* box-shadow: 0px 3px 6px rgba(0,0,0,16%); */
}
.HIW .HIW-icons>img {
    height: 50px;
}
.HIW .card-title {
    font-weight: 600;
    line-height: 28px;
    font-size: 18px;
    color:
    white;
    text-shadow: 0px 3px 6px
    rgba(0,0,0,20%);
    text-align: center;
    text-transform: uppercase;
    max-width: 195px;
    min-height: 60px;
    letter-spacing: 0.6px;
}
.vbs-section3 {
    background-image: url(/img/vbs-section3.png);
    background-size: contain;
    height: 450px;
}
.carousel-caption {
    position: relative !important;
    right: unset !important;
    bottom: unset !important;
    left: unset !important;
    z-index: unset !important;
    max-width: 700px;
    margin: 0 auto;
    min-height: 250px;
}
.vbs-section3 .carousel , .section2 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.vbs-section3 .carousel-caption h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    
}
.section4 .section4-card-items p {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color:#571845;
    font-family: 'Montserrat', serif;
    line-height: 22px;
    letter-spacing: 0.4px;
}
.section4 .section4-card-icon svg{
    font-size: 40px;
    color: #e2c0cd;
}
.section4 h2.title {
    max-width: 600px;
}
.section4 {
    padding-top: 80px;
    padding-bottom: 80px;
}
@media ( min-width: 576px ) {
    .section4-justify-content {
        justify-content: flex-end;
    }
}
@media ( max-width: 575px ) {
    .section4-justify-content {
        justify-content: center;
    }
    .section4-card-items .col-sm-6 > p {
        text-align: center;
        max-width: 170px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0 auto;
    }
}
.ER input.form-control, .ER select.form-control{
    height: 50px;
    border-radius: 0px;
    color:#571845;
    border-color:#571845;
    box-shadow: none;
    font-family: 'Montserrat', serif;
    font-size: 13px !important;
    text-transform: capitalize;
}

.ER .form-check .form-check-label, .ER input.form-control::placeholder, .ER select.form-control::placeholder,  .ER select option::placeholder{
    font-family: 'Montserrat', serif;
    font-size: 13px !important;
    text-transform: capitalize;
    color:#571845;
}

.btn-grid {
    background-color:  rgba(0,0,0,0.4);
    position: absolute;
    max-width: 500px;
    height: 350px;
    margin: 0 auto;
    z-index: 1;
    left: 0;
    right: 0;
    top: 26%;
    bottom: 0;
    font-size: 18px;
}
/*Real Wedding*/
.heroimgrealWedding {
    background-image: url(/img/real-wedding.png);
    height: 70vh;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}
.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}
.real-wedding-card-1 {
    height: 350px !important;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.real-wedding-card-2 {
    height: 250px !important;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.real-wedding-card-inner {
    flex: 100%;
    flex-direction: row;
    display: flex;
}
.real-wedding-section2 .card {
    border: none;
    border-radius: 0rem;
    box-shadow: 2px 2px 14px rgba(0,0,0,0.3);
}
.overlay-card {
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}
.overlay-card:hover {
    background-color: rgba(0,0,0,0.4);
}
.overlay-card-inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    color: white;
}
.overlay-card-inner a {
    box-shadow: 2px 2px 14px rgba(255,255,255,0.3);
    text-decoration: none;
}
.overlay-card-inner a:hover {
    text-decoration: none;
    background-color: #e2c0cd;
    color: white;
}
/*Vendors*/
.vendors .row.post-wrap {
    border: 4px solid #e2c0cd;
}
.vendors .row.post-wrap img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 410px;
}
.vendors .row.post-wrap .col-lg-5 {
    padding-left: 0px;
    padding-right: 0px;
}    
.post-wrap.row h3 {
    color: #571845;
    line-height: 26px;
    font-size: 22px !important;
    font-weight: 600 !important;
    letter-spacing: 0.4 !important;
}
.post-wrap.row h4 {
    font-size: 17px;
    font-family: 'Montserrat', serif;
    color: #C68DA2;
}
.post-wrap.row p {
    line-height: 24px;
    font-size: 18px;
    color: #571845;
}
.review-star-vendors {
    color:white;
    background: #571845;
    width: 74px;
    text-align: center;
    height: 54px;
    border-radius: 7px;    
}
.review-star-vendors .number {
    font-size: 28px;
    vertical-align: sub;    
}
a.post-single:hover {
    outline: 0;
    text-decoration: none;
}
.font-28 {
    font-size: 28px;
}
.font-28 {
    font-size: 28px;
}
.dashed-border-top {
    border-top: 2px dashed #C68DA2;
}
.dashed-border-top .per-plate {
    color: #C68DA2;
    font-size: 13px;
    text-transform: capitalize;
}
.read-more {
    color: #900c3e;
    font-weight: 700;
    text-decoration: underline;
    font-size: 20px;
}
.read-more:hover {
    color: #C68DA2;
}
.vendors .input-group-text {
    background-color: white;
    border: 0px;
    font-family: 'Cormorant', serif;
    font-size: 17px;
    color: #571845;
    padding-top: 3px;
    padding-bottom: 3px;
}
.filter h4 {
    font-family: 'Montserrat', serif;
    color: #571845;
}
.filter h3::before, .filter h4::before {
    content: '';
    background-color: #e2c0cd;
    width: 70px;
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 5px;
}
.button-textbox {
    border-color: #e2c0cd !important;
    border-right-color: rgb(226, 192, 205) !important;
    height: 48px !important;
    border-radius: 0px !important;
    border-width: 2px !important;
    border-right-width: 2px !important;
    border-right: 0px !important;
    font-family: 'Cormorant', serif;
}
.button-search.input-group-append button {
    border-left: 0;
    border-left-width: 0px;
    border-radius: 0px;
    border-color: #e2c0cd;
    border-width: 2px;
    font-size: 20px;
    color: #e2c0cd;
}

label {
    padding-bottom: 12px;
    padding-top: 6px;
}
.filter select {
    border-radius: 0px;
    height: 44px;
    border: 1px solid #e2c0cd;
}
.filter select:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #571845 !important;
}
.single-page-title {
    color: white;
    font-weight: 600 !important;
    font-size: 22px !important;
    text-transform: capitalize;
    text-shadow: 0px 4px 8px rgba(0,0,0,16%);
}
.bg-dark-pink {
    background-color: #c0869c;
}
ul.single-vendor-grid {
    padding-left: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul.single-vendor-grid li {
    list-style: none;
    width: 20%;
    padding: 5px;
}
ul.single-vendor-grid img {
    box-shadow: 0px 3px 6px rgba(0,0,0,16%);
    height: 120px;
    object-fit: cover;
    object-position: center;
}
#singleVendorGrid .nav-item.nav-link {
    text-align: center;
}
#singleVendorGrid .nav-tabs .nav-link {
    font-family: 'Montserrat', serif;
    color: white;
    border-bottom: 2px solid white;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
}
#singleVendorGrid .nav-tabs .nav-link.active {
    background-color: transparent;
    color: #900C3E;
    border-bottom: 2px solid #900C3E;
}
.shadowed  {
    box-shadow: 1px -1px 12px rgba(0,0,0,16%);
}
.single-details a  {
    color: white;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.single-details a:hover {
    color: White;
}
.single-vendor-features svg {
    height: 55px;
    width: 55px;
    color: #e2c0cd;
}
.single-vendor-features h3 {
    font-size: 17px !important;
    font-weight: 600 !important;
    text-shadow: 0px 3px 6px rgba(0,0,0,16%);
    color: #571845;
}
.single-vendor-features .card {
    border: 0px;
}
.starRating svg {
    color: #e2c0cd;
    height: 30px;
    width: 30px;
    margin-right: 8px;
}
.review-section input.form-control , .review-section textarea.form-control {
    border: 1px solid #571845;
    border-radius: 0px;
    box-shadow: none;
}
.review-section input.form-control::placeholder , .review-section textarea.form-control::placeholder {
    font-family: 'Cormorant', serif;
    color: #571845;
}
.socialIconForShare .custom-control-label {
    padding: 0px;
}
.socialIconForShare svg {
    font-size: 25px;
    color: #571845;
}
.single-PDPE h4 {
    color:#571845;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.single-PDPE .card-title {
    color: #571845;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 25px 20px;
    border-bottom: 1px solid #571845;
}
.single-PDPE.card , .single-BSV.card{
    border-radius: 0px;
    box-shadow: -1px -1px 25px rgba(0,0,0,16%);
}
.single-BSV img {
    object-fit: cover;
    object-position: center;
}
.single-BSV-title {
    font-size: 17px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 25px 20px;
    text-align: center;
}
.single-BSV-post {
    font-size: 17px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.single-BSV-btn {
    padding: 15px 0px !important;
    background-color: #571845 !important;
    border: 0px !important;
    border-radius: 0px !important;
    width: 100%;
}
.review-card li {
    list-style: none;
    display: inline-block;
}
.review-card img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.review-card-star-vendors {
    color: white;
    background: #571845;
    width: 60px;
    text-align: center;
    height: 32px;
    border-radius: 9px;
    font-size: 18px;
}
.review-card-star-vendors .number {
    vertical-align: sub;
}
.font-22 {
    font-size: 18px;
}
.review-card-star-vendors img {
    width: 80px;
    border-radius: 50%;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.btn-generic {
    padding: 15px 0px;
    background-color: #571845 !important;
    border: 0px !important;
    border-radius: 0px !important;
}
a.btn-generic  {
    color: white;
}
.singleVendor {
    background: #C58CA1;
}
 nav.nav-tabs.singleVendor > a.nav-item.nav-link  {
    width: 50% !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
.allFunction .nav-tabs > a.nav-item.nav-link ,.about .nav-tabs > a.nav-item.nav-link  {
    width: 33.333% !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
.single-realwedding-section2 img {
    width: 250px;
    object-fit: contain;
    object-position: center;
    padding: 15px;
}
.single-realwedding-section2-inner {
    margin-top: -100px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
}
.single-realwedding-section2-inner p {
    font-weight: 600;
    max-width: 250px;
}
.tagged-vendor {
    display: flex;
    width: 250px;
}
.tagged-vendor > .col-tagged-vendor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 248px;
}
.col-tagged-vendor svg {
    font-size: 55px;
    color: #e2c0cd;
}
@media (max-width: 576px) {
    .review-card h4 {
        text-align: center;
        margin-bottom: 0px;
    }
    .review-card .review-info {
        text-align: center;
    }
    .review-card ul {
        padding-left: 0px;
        display: flex !important;
        justify-content: center !important;

    }
}